<h1 class="mb-5 text-grey-darkest font-sans">About Page</h1>
<div class="shadow-lg font-sans text-grey-darkest p-4 py-6">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ducimus nisi sunt illo, rem dignissimos,
    exercitationem maxime numquam aliquid delectus a ea, soluta est adipisci vitae ut. Repellat, enim temporibus.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa dignissimos aperiam, adipisci animi, esse aliquid unde harum in voluptatibus officia quisquam quae tempore modi repudiandae a excepturi dolorem iste soluta!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptate obcaecati assumenda excepturi qui maiores blanditiis ea? Adipisci natus doloribus, dignissimos cum ad, ea vitae necessitatibus iure excepturi libero deserunt?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, est. Voluptas repudiandae quas explicabo minus illum doloribus voluptates sunt neque illo ipsam amet a velit aliquam, veritatis tempore accusamus corrupti.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit perspiciatis odio sed ea debitis hic eius maiores veniam fugiat labore? Dolor earum alias numquam consequuntur? Recusandae dolor dicta saepe non.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, itaque at nostrum cupiditate voluptatem veritatis reiciendis asperiores tempore minus? Saepe velit nam voluptas, adipisci perferendis ipsam rerum consequatur cum tenetur?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda magni nemo tenetur illo optio aliquid dolor maiores doloribus dicta, natus recusandae culpa, atque, sed iste similique numquam voluptatem vero! Earum!
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur blanditiis a repellendus voluptate earum cupiditate ullam, iure vitae ut dolor et debitis molestiae reiciendis? Modi aut deleniti voluptatem doloribus accusamus.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, laudantium eius quas neque id provident assumenda, odit officia distinctio quidem corrupti, recusandae iste numquam architecto a nostrum animi dolor tempore!
</p>
</div>