<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="h-screen">
    <div id="app">
      <nav-bar user="{{user.name}}"></nav-bar>
      <div class="container mx-auto pt-6">
        {{{body}}}
      </div>
    </div>

    <script src="/javascripts/main.js"></script>
  </body>
</html>
